body {
    background-color: green;
    color: black;   
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

header {
    line-height: 0.1;
    color: orange;
    background-color: firebrick;
    padding: 20px;

}
.header-nav {
    display : flex;
    justify-content: space-between;
    
}
.post {
    line-height: 0.5;
    color: whitesmoke;
    background-color: rgb(84, 34, 178);
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 5pt;

}

a {
    text-decoration: none;
    color: whitesmoke;
}